{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Kuittipankki</h1>
    <p>Your receipt management solution.</p>
    {% if receipts %}
        <h2>Your Uploaded Receipts</h2>
        <table>
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Receipt Date</th>
                    <th>Uploaded On</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                    <tr>
                        <td><a href="{{ url_for('uploaded_file', filename=receipt.filename) }}">{{ receipt.filename }}</a></td>
                        <td>{{ receipt.description }}</td>
                        <td>{{ receipt.amount }}</td>
                        <td>{{ receipt.receipt_date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ receipt.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no uploaded receipts.</p>
    {% endif %}
{% endblock %}
