{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="form-container">
    <h2 class="text-xl font-semibold mb-4">Sign Up</h2>
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.username.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.username(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-4">
            {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="mb-6">
            {{ form.confirm_password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.confirm_password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Sign Up
            </button>
        </div>
    </form>
    <p class="text-center mt-6">
        <a href="{{ url_for('login') }}" class="secondary-link">Already have an account? Login Now!</a>
    </p>
</div>
{% endblock %}
{% block hide_sidebar %}True{% endblock %}